.biography{
    h2{
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 1px;
        font-style: oblique;
        padding-top: 2rem;
    }
    .bioContainer{
        height: 70vh;
        overflow: scroll;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
          "img1"
          "text1"
          "text2"
          "img2"
          "text3";
        margin: 1rem;
        padding: 1rem;
        border: 1px solid black;
        p{
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-style: oblique;
        }
        .bioText1 {
            grid-area: text1;
          }
          .bioText2 {
            grid-area: text2;
          }
          .bioText3 {
            grid-area: text3;
          }
        .bioImg1{
            margin-top: 0.2rem;
            width: 100%;
            max-height: 60vh;
            grid-area: img1;
        }
        .bioImg2{
            @extend .bioImg1;
            grid-area: img2;
        }
    }
}

@media (min-width:992px){
  .biography{
    padding-top: 2rem;
    h2{
      font-size: 5rem;
      padding-top: 1.6rem;
    }
    .bioContainer{
      height: 100vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "img1 text1"
        "text2 text2"
        "text3 img2";
        .bioImg1, .bioImg2{
          max-width: 95%;
          max-height: 40vh;
        }
        p{
          padding: 1rem;
          align-self: center;
        }
    }
  }
}