.training{
    h2{
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 1px;
        font-style: oblique;
        padding-top: 2rem;
    }
}

@media (min-width:992px){
    .trainingMain{
        height: 91vh;
        .training{
            padding-top: 2rem;
            h2{
                font-size: 3rem;
            }
        }
    }
}